h1{
    font-size: 90px;
    color: orange;
    text-align: center;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    width: 68%;
    background: blue;
    height: 5px;
}

p{
    width: 65%;
    margin: auto;
    margin: right 10px;

}

img{
    height: 300px;
}

.imagens{
    width:  fit-content;
    margin: auto;
    
}
video{
    height: 50%;
    margin: auto;
    display: block;
}